.fieldset {
    font-family: 'Trebuchet MS', sans-serif;
    border-top: 1.5px solid #e9ecef;
    border-bottom: 1.5px solid #e9ecef;
    padding: 15px 20px;
    display: grid;
    position: relative;
}

h2 {
    color: #212529;
    padding: 0 0 0px 0;
    font-size: 1rem;
}

.field {
    padding: 12px 0;
    color: rgba(108, 117, 125, 0.75);
    font-weight: bold;
    font-size: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field:last-of-type {
    padding-bottom: 10px
}

.field__text {
    margin-top: -5px;
}

p {
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0px;
}