.fieldset {
    font-family: 'Trebuchet MS', sans-serif;
    border-top: 0px solid #e9ecef;
    border-bottom: 1.5px solid #e9ecef;
    padding: 15px 20px;
    display: grid;
    position: relative;
}

h2 {
    color: #212529;
    padding: 0 0 0px 0;
    font-size: 1rem;
}

.field {
    padding: 12px 0;
    color: rgba(108, 117, 125, 0.75);
    font-weight: bold;
    font-size: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field:last-of-type {
    padding-bottom: 10px
}

.field__text {
    margin-top: -5px;
}

p {
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0px;
}

.title__colorPicker {
    position: absolute;
    top: 162.5px;
    right: 85px;

}

.key__checkbox {
    right: 10px;
    margin-top: 5px;
    margin-right: -17px;
    width: 50px;
}

.bkg__colorPicker {
    top: 160.5px;
    right: 85px;
}

.field__description {
    margin-top: 5px;
}

.field__description textarea {
    width: 100%;
    height: 150px; 
    line-height: 15px;
    vertical-align: top;
    border-radius: 7px;
    border: 1px solid #ced4da;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
    margin: 0px;
}

.field__description textarea:focus {
    border: 1px solid #5465ff;
    background-color: #f8f9fa;
    outline: none;
}


.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #04AA6D;
    cursor: pointer;
}