* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.navigation {
  background-color: white;
  width: 50px;
  height: 100vh;
  border-right: 1.5px solid #e9ecef;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c757d;
  padding-top: 20px;
}

.navigation > div {
  margin-bottom: 5px;
}

.navigation div:hover {
  cursor: pointer;
  background-color: #f8f9fa;
  border-radius: 5px;
  color: #5465ff;
}

.main-content {
  flex-grow: 1;
  background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content__chart {
  border: 1px solid #ced4da;
  /* width: 800px;
  height: 600px; */
  padding: 20px 25px;
  background-color: white;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar {
  min-width: 350px;
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
  border-right: 1.5px solid #e9ecef;
}

.chart-card {
  border: 1px solid #ced4da;
  margin: 20px;
  background-color: white;
  padding: 10px;
  width: 210px;
  height: 240px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  color: #6B767D;
}

.chart-card:hover {
  cursor: pointer;
  color: #5465ff;
  border: 3px solid #5465ff;
  transform: scale(1.1);

}

.main-content__selection {
  flex-grow: 1;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
