* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box
}

.App {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content__chart {
  border: 1px solid #ced4da;
  height: 500px;
  width: 1000px;
  padding: 20px;
  background-color: white;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.sidebar {
  width: 400px;
  height: 100vh;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
}

