.text-form > input,
.text-form > select {
    border-radius: 7px;
    height: 30px;
    border: 1px solid #ced4da;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px;
}

.small > select {
    padding-left: 10px;
    width: 55px;
}

.medium > select {
    padding-left: 10px;
    width: 150px;
}

.text-form > input:hover,
.text-form > select:hover {
    background-color: #f8f9fa;
    outline: none;
}

.text-form > input:focus {
    border: 1px solid #5465ff;
    background-color: #f8f9fa;
    outline: none;
}

.text-form > select:focus {
    outline: none;
}

.text-form > select {
    margin-top: -1px;
    padding-left: 6px;
}

.color-picker > input {
    width: 30px;
    padding: 1px;
    background-color: white;
    margin: 0px;
    padding-right: 2px;
    padding-left: 2px;
}

.color-picker > input:focus {
    border: 1px solid #D7DCE1;
    background-color: #f8f9fa;
}

.color-picker {
    position: absolute;
    right: 85px;
    top: 162.5px
}

