.text-form > input,
.text-form > select {
    border-radius: 7px;
    height: 25px;
    border: 1px solid #ced4da;
    padding-left: 10px;
    margin: 0;
}

.small > select {
    padding-left: 10px;
    width: 55px;
}

.medium > select {
    padding-left: 10px;
    width: 150px;
}

.text-form > input:hover,
.text-form > select:hover {
    background-color: #f8f9fa;
    outline: none;
}

.text-form > input:focus {
    border: 1px solid #5465ff;
    background-color: #f8f9fa;
    outline: none;
}

.text-form > select:focus {
    outline: none;
}

.text-form > select {
    margin-top: -1px;
    padding-left: 6px;
}
